/* You can add global styles to this file, and also import other style files */

body {
  background: #fff;
}

#sidebar {
  position: fixed;
  background: #EFEFEF;
  min-height: 100%;
  padding-right: 0;
}

#content {
  padding: 15px 15px 15px 16.6667%;
}
